Package: nubomanagement-serv-js
Version: %Version%
Architecture: all
Depends: nodejs (>=8.11.2), nubo-common, lib32z1, libc6-i386, lib32stdc++6, zip
Recommends:
Maintainer: NuboSoftware <alexander@nubosoftware.com>
Section: main
Description: nubo management web service that run in internal network
