*~
*.err
*.out
*.gz
*.old
.*
Settings.json
node_modules
*.log
*.DS_Store
.project
.buildpath
GWSettings.json
.settings/
nbproject/
registerIMServer.sh
rpmbuild/RPMS
rpmbuild/SRPMS
debbuild
html/player/compiler.jar
html/player/out.js
mgmt.json
machines.csv
package-lock.json
docker_temp
nubo-management-desktop/
nubo-management-enterprise/
docker_apps/
/conf/
/dist/
/static/
Session.xml
bak-nubo-management-desktop/
cesp.der
codehearts.json
docker_build/Dockerfile-bak
docker_build/debs/
nubo-management-mobile/
nubo_license.txt
nubo_license_req.txt
plugins/
rsyslog
src/playground/
src/test.js
static-src/
test.json
test/
upload/
urlLauncher/


