*~
*.err
*.out
*.gz
*.old
.*
Settings.json
node_modules
*.log
*.DS_Store
.project
.buildpath
GWSettings.json
.settings/
nbproject/
registerIMServer.sh
rpmbuild/RPMS
rpmbuild/SRPMS
debbuild
html/player/compiler.jar
html/player/out.js
mgmt.json
machines.csv
package-lock.json
docker_temp
nubo-management-desktop/
nubo-management-enterprise/

