[Unit]
Description=Your Daemon
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=always
RestartSec=5s
KillSignal=SIGINT

WorkingDirectory=/opt/nubomanagement
ExecStart=/usr/bin/node dist/multithreadserver.js

[Install]
WantedBy=multi-user.target
